@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
  box-sizing: border-box;
}

:root{
  --background: rgb(234, 195, 30);;
  --black: rgb(30,30,40);
  --background-content: rgb(255, 246, 33)
}

body{
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
  background: var(--background);
  color: var(--black);
  text-align: center;
}

.mine-container{
  display: flex;
  justify-content: center;

}

.clontainer{
  max-width: 600px;
  width: 80%;
}

.cards{
  border: solid 3px var(--black);
  padding: 5px 15px;
  border-radius: 5px;
  background-color: var(--background-content);
  margin-bottom: 5px;
}

.second{
  border: solid 5px var(--black);
  border-radius: 5px;
  background-color: var(--background-content);
}

@media (max-width: 363px){
  .second, .cards{
    font-size: smaller;
    overflow: auto;
  }
}



