@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --background: rgb(234, 195, 30);;
  --black: rgb(30,30,40);
  --background-content: rgb(255, 246, 33)
}

.mine-container{
  position: absolute;
  left:25%;
  width: 600px;
}

body{
position: relative;
font-family: "Oswald", sans-serif;
background: var(--background);
color: var(--black);
text-align: center;
padding: 20px;
}

.container{
  display: flex;
  flex-direction: column;
}

.container .cards {
  border: solid 5px var(--black);
  border-radius: 5px;
  background-color: var(--background-content);
  margin: 5px;
}

.second{
  border: solid 5px var(--black);
  border-radius: 5px;
  background-color: var(--background-content);
}